# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Client dependencies
client/node_modules

# Server cache
server/__pycache__/
server/**/__pycache__/
server/BookingAPI/node_modules
server/BookingAPI/dist
server/BookingAPI/.env
server/ChatBot/__pycache__/
server/ChatBot/node_modules
server/ChatBot/dist
server/ChatBot/.env


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
